

:root {
  --dark-cornflower-blue: #19447bff;
  --yale-blue: #214a7eff;
  --united-nations-blue: #578fd9ff;
}

html {
  box-sizing: border-box;
  
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  /* background-color: gray; */
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  color: var(--dark-cornflower-blue);
  font-size: 4em;
}

button {
  min-width: 45%;
  margin: 0;
}

.btn-section {
  width: 50%;
  display: flex;
  justify-content: space-between;
  
}

.left-btn {
  background-color: var(--united-nations-blue);
  border-color: var(--united-nations-blue);
}

.left-btn:hover {
  background-color: var(--dark-cornflower-blue);
}

.right-btn {
  color: var(--united-nations-blue);
  border-color: var(--united-nations-blue);
  background-color: white;
}

.right-btn:hover {
  background-color: var(--dark-cornflower-blue);
  color: white;
}

.accent-color {
  color: var(--united-nations-blue);
}

#landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 75vh;
  max-height: 50px;
  padding: 5vh;
  margin-bottom: 1em;
}

#landing > img {
  height: 50vh;
}

.left-column {
  width: 50%;
}



.section landing > p {
  text-align: justify;
}

.navbar-nav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.active {
  border-bottom: 1px solid var(--united-nations-blue);
  color: var(--united-nations-blue);
}



#icon-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2em 0;
  flex-wrap: wrap;
}

#icon-section > h4 {
  margin: 0 2em;
  padding: 1em;
  font-size: .7em;
}

#about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 10vh; */
}

#about > img {
  width: 20%;
  transform: scaleX(-1);
  align-self: flex-end;
  padding-bottom: 4em;
}

#randomize {
  user-select: none;
}

#randomize:hover {
  color: var(--dark-cornflower-blue);
  cursor: pointer;
}

.hint {
  font-size: .5em;
  color: silver;
  font-weight: 300;
}

.text-box {
  min-width: 300px;
  max-width: 50%;
}

.text-box > h3 {
  text-align: center;
}

.text-box > h2 {
  font-size: 3em;
  padding-bottom: 1em;
  text-align: center;
}

.card {
  border: none;
  min-width: 130px;
}

#badge-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 5px solid var(--dark-cornflower-blue);
}

#badge-container > i {
  padding: 20px;
}

#badge-container > p {
  font-size: 8em;
}



i:hover {
  transform: translateY(-5px);
}

#resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4em;
  
}


#resume > * {
  min-width: 400px;
  margin: 0 auto;
}

#resume > h2 {
  margin-bottom: 1em;
  font-size: 3em;
}

.resume-heading {
  font-size: 2em;
  margin-bottom: 2em;
}

#education {
  margin-top: 2em;
}

#work-history {
  margin-top: 2em;
}

.education-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  border-bottom: 1px solid gray;
  padding-top: 8px;
}

.education-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 30px;
}

.education-heading {
  grid-column-start: 2;
  grid-row-start: 1;
}

.education-desc {
  grid-column-start: 2;
  grid-row-start: 2;
}

.education-date {
  grid-column-start: 2;
  grid-row-start: 3;
}

.education-card > * {
  margin: .1em;
}

#colgan {
  width: 40px;
}

#my-work {
  border-top: 5px solid var(--dark-cornflower-blue);
  border-bottom: 5px solid var(--dark-cornflower-blue);
  padding: 10vh 0;
  margin: 10vh auto;
}

#my-work > h2 {
  padding-bottom: 1em;
}

#social > i {
  color: var(--dark-cornflower-blue);
  cursor: pointer;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.contact-box {
  width: 40vw;
}

#social {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: space-evenly;
}

#social > i:hover {
  color: var(--united-nations-blue);
}

@media only screen and (max-width: 1199px)  {
  button {
    width: 10vw;
  }

  .btn-section {
    width: 30vw;
  }
  
  .card-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .card-btns > a {
    width: 40%;
  }
}

@media only screen and (max-width: 1199px)  {
  #badge-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  #badge-container > p {
    font-size: 5em;
  }
}

@media only screen and (max-width: 767px)  {
  h2 {
    font-size: 2em;
  }
  
  #badge-container > p {
    font-size: 3.5em;
  }
  .btn-section {
    width: 45vw;
  }
  
  .contact-box {
    width: 70vw;
  }

  #contact {
    display: block;
    margin: 6vh auto;
  }
  #social {
    width: 70vw;
    padding-top: 3em;
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 465px) {
  #landing {
    width: 100%;
    padding: 0;
    min-height: 50vh;
  }
  
  #landing > img {
    display: none;
  }

  .left-column {
    width: 90%;
  }



  #badge-container > p {
    font-size: 2em;
  }

  #resume > * {
    max-width: 0;
  }

}

@media only screen and (max-width: 398px) {
 
  #pointing {
    display: none;
  }
 
 #nav-img {
   display: none;
  }

  #landing {
    margin-top: 10px;
    align-items: flex-start;
  }
  .card .text-center{
    width: 15rem;
  }


  .card-body{
    width: 18rem;
  }

}




