/* 14 commits, 

yesterday: 3 of 5 sections done, 1 js interactive feature, 

today: finish last 2 sections, add 2 more js features   */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff);
$gradient-radial: radial-gradient(#000000ff, #19447bff, #214a7eff, #578fd9ff, #ffffffff); */

:root {
  --dark-cornflower-blue: #19447bff;
  --yale-blue: #214a7eff;
  --united-nations-blue: #578fd9ff;
}

html {
  box-sizing: border-box;
  
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  /* background-color: gray; */
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  color: var(--dark-cornflower-blue);
  font-size: 4em;
}

button {
  min-width: 45%;
  margin: 0;
}

.btn-section {
  width: 50%;
  display: flex;
  justify-content: space-between;
  
}

#contact-btn {
  background-color: var(--united-nations-blue);
  border-color: var(--united-nations-blue);
}

#contact-btn:hover {
  background-color: var(--dark-cornflower-blue);
}

#work-btn {
  color: var(--united-nations-blue);
  border-color: var(--united-nations-blue);
}

#work-btn:hover {
  background-color: var(--dark-cornflower-blue);
  color: white;
}

.accent-color {
  color: var(--united-nations-blue);
}

#landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 70vh;
  
  padding: 5vh;
}

.left-column {
  width: 50%;
}

#landing > img {
  height: 20%;
  width: 20%;
}

.section landing > p {
  text-align: justify;
}

.navbar-nav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.active {
  border-bottom: 1px solid var(--united-nations-blue);
  color: var(--united-nations-blue);
}



#icon-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2em 0;
  flex-wrap: wrap;
}

#icon-section > h4 {
  margin: 0 2em;
  padding: 1em;
  font-size: .7em;
}

#about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10vh;
}

#about > img {
  width: 20%;
  transform: scaleX(-1);
  align-self: flex-end;
  padding-bottom: 4em;
}

#randomize:hover {
  color: var(--dark-cornflower-blue);
  cursor: pointer;
}

.text-box {
  min-width: 300px;
  max-width: 50%;
}

.text-box > h3 {
  text-align: center;
}

.card {
  border: none;
  min-width: 130px;
}

#badge-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 5em;
  border-bottom: 5px solid var(--dark-cornflower-blue)
}

#badge-container > i {
  padding: 20px;
}

#resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4em;
}

#resume > 

#resume > * {
  min-width: 400px;
  margin: 0 auto;
}

.resume-heading {
  font-size: 2em;
  margin-bottom: 2em;
}

.education-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  border-bottom: 1px solid gray;
  padding-top: 8px;
}

.education-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 30px;
}

.education-heading {
  grid-column-start: 2;
  grid-row-start: 1;
}

.education-desc {
  grid-column-start: 2;
  grid-row-start: 2;
}

.education-date {
  grid-column-start: 2;
  grid-row-start: 3;
}

.education-card > * {
  margin: .1em;
}